html {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.title {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.download-link {
  font-size: 16px;
  text-align: center;
  color: aquamarine;
}

.download-link a:visited {
  color: aquamarine;
}

.video {
  text-align: center;
}

.section-title {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

h2 {
  text-align: right;
  color: gray;
}
